# STAR PATTERN USING PYTHON

In [2]:
def row(n):
    for i in range(0,n):
        print("*"*(i+1))
n=int(input("Enter the number of row  :"))
row(n)

Enter the number of row  :8
*
**
***
****
*****
******
*******
********

In [5]:
def row(n):
    for i in range(0,n):
        print(" "*(n-i-1),end="")
        print("*"*(i+1))
n=int(input("Enter the number of row  :"))
row(n)

Enter the number of row  :8
       *
      **
     ***
    ****
   *****
  ******
 *******
********

In [6]:
def row(n):
    for i in range(0,n):
        print("*"*(n-i))
n=int(input("Enter the number of row  :"))
row(n)

Enter the number of row  :8
********
*******
******
*****
****
***
**
*

In [7]:
def row(n):
    for i in range(0,n):
        print(" "*(i),end="")
        print("*"*(n-i))
n=int(input("Enter the number of row  :"))       
row(n)

Enter the number of row  :8
********
 *******
  ******
   *****
    ****
     ***
      **
       *

In [8]:
# Triangle star patter
def row(n):
    for i in range(0,n):
        print(" "*(n-i-1),end="")
        print("* "*(i+1))
n=int(input("Enter the number of row  :"))       
row(n)

Enter the number of row  :8
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *

In [9]:
# downward triangle star pattern
def row(n):
    for i in range(0,n):
        print(" "*(i),end="")
        print("* "*(n-i))
        
n=int(input("Enter the number of row  :"))      
row(n)

Enter the number of row  :8
* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [12]:
def daimond(n):
    for i in range(0,n):
        print(" "*(n-i-1),end="")
        print("* "*(i+1))
    for i in range(0,n):
        print(" "*(i+1),end="")
        print("* "*(n-i-1))
n=int(input("Enter the number of row  :"))     
daimond(n)

Enter the number of row  :8
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [13]:
def border(n):
    for i in range(0,n):
        if(i==0 or i==(n-1)):
            print("*"*n)
        else:
            print("*"+(" "*(n-2))+"*")
n=int(input("Enter the number of row  :"))       
border(n)

Enter the number of row  :8
********
*      *
*      *
*      *
*      *
*      *
*      *
********

In [14]:
n=10
for i in range(0,n):
    if i==0:
        print("*"*n*2)
    else:
        print("*"*(n-i)+"  "*i+"*"*(n-i))

********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *

In [15]:
n=10
for i in range(0,n):
        print("*"*(n-i)+"  "*i+"*"*(n-i))
for i in range(0,n):
        print("*"*(i+1)+"  "*(n-i-1)+"*"*(i+1))

********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *
*                  *
**                **
***              ***
****            ****
*****          *****
******        ******
*******      *******
********    ********
*********  *********
********************

In [22]:
def star(n):
    for i in range(0,n):
        print(" "*(i+1)+"*"*(i+1))
        
    for i in range(0,n):
        print(" "*(n-i-1)+"*"*(n-i-1))
        
star(8)

 *
  **
   ***
    ****
     *****
      ******
       *******
        ********
       *******
      ******
     *****
    ****
   ***
  **
 *

In [18]:
def star(n):
    print(" "*(n-1)+"*")
    for i in range(0,n-2):
            print( " "*(n-i-2)+"*","  "*(i)+"*")
    print("* "*(n))
star(10)

         *
        * *
       *   *
      *     *
     *       *
    *         *
   *           *
  *             *
 *               *
* * * * * * * * * *

In [23]:
def star(n):
    print("* "*((n*2)-1))                                 #first line stars
    for i in range(0,n-2):
            print(" "*((i+1)) + "* "*((n-i-2)),end="")    #first two triangles (" ",*)
            print( "*","  "*(i)+"* ",end="")              #border triangle
            print("* "*(n-i-2))                           #2nd down star triangle
    print(" "*(n-1)+"* "*n)                               #mid line stars
    for i in range(0,n-1):
            print(" "*((n))+ " "*((i))+"* "*((n-i-1)))    #(" "," ")are the spaces and * is the lower down star triangle
        
star(10)

* * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * *
  * * * * * * * *   * * * * * * * *
   * * * * * * *     * * * * * * *
    * * * * * *       * * * * * *
     * * * * *         * * * * *
      * * * *           * * * *
       * * *             * * *
        * *               * *
         * * * * * * * * * *
          * * * * * * * * *
           * * * * * * * *
            * * * * * * *
             * * * * * *
              * * * * *
               * * * *
                * * *
                 * *
                  *